@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
   
    background: linear-gradient(45deg, #0a0a0a, #3a4452)
}
input::placeholder{
    color: #ffffff;
}
.button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
.equalBtn{
    background-color: #fb7c14;
}

.operator{
    color: #6dee0a;
}